# Compilation directories
build/

# Compiled Executables
*.exe

# Compiled Libraries
*.lib

# Text output files
out.txt

# external library stuff
external/
include/

# assets
assets/

# image files
*.png
*.jpeg
*.jpg

# model files
*.obj
*.mtl

# cmake user stuff
kgl-build/
CMakeLists.txt.user